@import "partials/_variables.scss";

html {
    font-family: $Montserrat;
    margin: 0;
    padding: 0;
    background-color: $mist-pale;
}

body {
    margin: 0 auto;
    width: 100%;

    @media only screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
      width: 100%;
    }

    @media only screen and (min-width: $break-tablet) and (max-width: $break-tablet_land) {
      width: 100%;
    }

    @media only screen and (min-width: $break-tablet_land) and (max-width: $break-laptop) {
      width: 960px;
    }

    @media only screen and (min-width: $break-laptop) {
      width: 960px;
    }    

}


header {
  background: url("../img/mobile/dog-360.png") no-repeat center center;
  background-size: cover;
  height: 300px;
  text-align: center;
  margin: 3.6rem auto 0 auto;
  width: 100%;
  z-index: -1;
  font-size: 0.5rem;
  color: $cerulean;
    h1 {
      padding-top: 16rem;
      font-size: 1.5rem;
    }

    @media only screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
      background: url("../img/tablet/dog-768.png") no-repeat center center;
      background-size: cover;
      height: 384px;
    }

    @media only screen and (min-width: $break-tablet) and (max-width: $break-tablet_land) {
      background: url("../img/tablet_land/768x512.png") no-repeat center center;
      background-size: cover;
      height: 512px;
    }

    @media only screen and (min-width: $break-tablet_land) {
      background: url("../img/laptop/dog-960.png") no-repeat center center;
      background-size: cover;
      height: 540px;
      max-width: 960px;
        h1 {
          padding-top: 440px;
        }
    }

}

#about, #find {
  display: none;
}

#home, #about, #find {
  margin: 0 auto;
  text-align: center;
  #wide {
    margin: 0 auto;
    width: 100%;
      @media only screen and (min-width: $break-tablet) {
        width: 80%;
      }
  }
  #left {
    margin: 0 auto;
    width: 100%;

    @media only screen and (min-width: $break-tablet) {
      width: 50%;
      float: left;
    }
  }
  #right {
    margin: 0 auto;
    width: 95%;
      table {
        text-align: center;
        margin: 0 auto;
        border: 1px solid $cerulean;
          td {
            padding: 0 2rem;
          }
      }

      @media only screen and (min-width: $break-tablet) {
        width: 50%;
        float: right;
  }

}

}

nav {
    //z-index: 2;
    top: 0;
    position: fixed;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    padding: 4px 0;
    background-color: $mist-pale;
      button {
        border-radius: 1rem;
        display: inline-block;
        width: 30%;
        font-size: 0.8rem;
        text-transform: uppercase;
        font-weight: 700;
        padding: 1rem;
        border: 2px solid $sky;
        outline: none;
        background-color: $cerulean-pale;
        color: $sky;
        transition: 0.4s;
          &:hover {
            background-color: $cerulean;
          }
          &:active {
            background-color: $sky;
          }

      }

      @media only screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
          font-size: 0.25rem;
          font-weight: normal;

        }

        @media only screen and (min-width: $break-tablet) and (max-width: $break-tablet_land) {
          font-size: 1rem;
          width: 100%;
        }

        @media only screen and (min-width: $break-tablet_land) and (max-width: $break-laptop) {
          max-width: 960px;
        }

        @media only screen and (min-width: $break-laptop) {
          font-size: 1.25rem;
          max-width: 960px;
      
        }
}

footer {
    display: none;
    z-index: 2;
    position: fixed;
    margin: 0 auto;
    text-align: center;
    margin: 0 auto;
    width: 100%;
    position: relative;
    padding: 4px 0;
      button {
        border-radius: 1rem;
        display: inline-block;
        width: 30%;
        font-size: 0.7rem;
        text-transform: uppercase;
        font-weight: 700;
        padding: 1rem;
        border: 2px solid $sky;
        outline: none;
        background-color: $cerulean-pale;
        color: $sky;
        transition: 0.4s;
          &:hover {
            background-color: $cerulean;
          }
          &:active {
            background-color: $cerulean;
          }

        @media only screen and (min-width: $break-mobile) and (max-width: $break-tablet) {
          font-size: 0.25rem;
          font-weight: normal;

        }

        @media only screen and (min-width: $break-tablet) and (max-width: $break-tablet_land) {
          font-size: 1rem;
          width: 31%;
        }

        @media only screen and (min-width: $break-tablet_land) and (max-width: $break-laptop) {
          
        }

        @media only screen and (min-width: $break-laptop) {
          font-size: 1.25rem;
      
        }
      }
}