// Professional. Blues/Navy/Gold.

$sky: rgb(202, 228, 219); // #CAE4DB
$honey: rgb(220, 174, 129); // #DCAE81
$cerulean: rgb(0, 48, 63); // #00303F
$cerulean-pale: rgba(0, 48, 63, 0.6); // #00303F
$mist: rgb(122, 157, 150); // #7A9D96
$mist-pale: rgba(122, 157, 150, 0.5); // #7A9D96

// $ : "", serif;
$Montserrat: 'Montserrat', sans-serif;

$break-mobile: 480px;
$break-tablet: 768px;
$break-tablet_land: 1024px;
$break-laptop: 1600px;